.profile-container {
  max-width: 500px;
  margin: 2rem auto;
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.profile-container ul {
  padding: 0;
}

.profile-container li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.profile-container input {
  margin-left: 0.5rem;
}

.profile-container span {
  margin-left: 0.5rem;
  cursor: pointer;
}
